/* Custom styles  goes here */

@import url(https://fonts.googleapis.com/css?family=Roboto|Pacifico|Chilanka|Comfortaa);
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

$default-font-family: -apple-system,
system-ui,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
sans-serif;

body {
  /* fallback if .bgphoto is empty */
  background-color: #111;
}

img {
  max-width: 100%;
}

section {
  border-bottom: 10vh;
}

@media (max-width: 575.98px) {

  //Manage Display Headers for Mobile Devices
  .display-1 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.0;
  }

  .display-2 {
    font-size: 2.75rem;
    font-weight: 300;
    line-height: 1.0;
  }

  .display-3 {
    font-size: 2.25rem;
    font-weight: 300;
    line-height: 1.0;
  }

  .display-4 {
    font-size: 1.75rem;
    font-weight: 300;
    line-height: 1.0;
  }
}

.fade-in {
  animation: fadein 1 ease-in 1s;
}

@keyframes fadein {
  0% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

/* Defaults for Customizables */
#titleJumbotron {
  background: none;

  #title {
    text-shadow: 2px 5px 5px #fff;
    font-family: Pacifico, $default-font-family;
  }

  #shortMsg {
    font-family: Roboto, $default-font-family;
  }
}

#longMsg {
  font-family: Chilanka, $default-font-family;
}

#addrTextCard,
#timeCard {
  background: none;
  @extend .shadow;
  @extend .border-0;

  #timeTitle,
  #addrTextTitle {
    font-size: 12px;
    color: #111;
    text-align: right;
    border-bottom: 1px solid #111;
    font-family: Comfortaa, $default-font-family;
  }

  #time,
  #addrText {
    font-family: Pacifico, $default-font-family;
    font-size: 18px;
  }
}